*.yaml     text eol=lf
*.yml      text eol=lf
*.md       text eol=lf
*.markdown text eol=lf
*.png      binary

*.yaml     diff
*.yml      diff
*.md       diff
*.markdown diff

*.yaml     linguist-detectable=true
*.yml      linguist-detectable=true
*.md       linguist-detectable=true
*.markdown linguist-detectable=true
